{% extends "@Admin/layout.html.twig" %}

{% block content %}
    {{ parent() }}

    <ol class="breadcrumb">
        <li class="active">Administration</li>
        <li class="active">Catégories</li>
    </ol>

    <div class="text-right">
        <a href="{{ url('admin_category_add') }}" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Nouvelle catégorie
        </a>
    </div>

    {{ include("AdminBundle:Category:table.html.twig") }}
    {{ include("AdminBundle:Category:pagination.html.twig") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('.delete-link').bind('click', function(event){
                event.preventDefault();
                if (confirm("Etes vous sûr de vouloir supprimer ?")) {
                    window.location.href = $(this).attr('href');
                }
            });
            $('[data-toggle=tooltip]').tooltip();
        })
    </script>
{% endblock %}
