{% extends "@App/layout.html.twig" %}

{% block content %}
    {{ parent() }}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Question</th>
            <th>Votre réponse</th>
            <th>Correction</th>
        </tr>
        </thead>
        <tbody>
        {% for key, result in results %}
            <tr>
                <td>{{ result[0] }}</td>
                <td class="{% if (result[2]) %}text-success{% else %}text-danger{% endif %}">{{ answers[key]|join('<br>')|raw }}</td>
                <td>
                    {% for res in result[1] %}
                    {{ res }}<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr class="active">
            <th colspan="3" class="text-right">{{ scoring }}/{{ results|length }}</th>
        </tr>
        </tbody>
    </table>
{% endblock %}