{% extends "@App/layout.html.twig" %}

{% block content %}
    {{ parent() }}

    <ol class="breadcrumb">
        <li class="active">Admin</li>
    </ol>

    <div class="text-right">
        <button type="button" class="btn btn-success" data-title="Nouveau test" data-toggle="modal" data-target="#myModal">
            <i class="glyphicon glyphicon-plus"></i> Nouveau test
        </button>
    </div>
    {{ include("AppBundle:Common:modal.html.twig") }}
    {{ include("AppBundle:Default:table.html.twig") }}
    {{ include("AppBundle:Default:pagination.html.twig") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    $(function(){
        $('.delete-link').bind('click', function(event){
            event.preventDefault();
            if (confirm("Etes vous sûr de vouloir supprimer ?")) {
                window.location.href = $(this).attr('href');
            }
        });
        $('#test_nbMinutes').bind('change, mousemove', function(event) {
            $(this).parent().find('label').html('Temps (en minutes) ' + $(this).val());
        });
        $('#test_nbQuestion').bind('change, mousemove', function(event) {
            $(this).parent().find('label').html('Nombre de questions ' + $(this).val());
        });
        $('[data-toggle=tooltip]').tooltip();
        $('.modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this);
            modal.find('.modal-title').text(button.data('title'));
        })
    })
</script>
{% endblock %}
