{% extends "@App/layout.html.twig" %}

{% block content %}
    <div id="rootwizard">
        <div class="navbar" style="visibility: hidden; height: 0px; padding: 0px; margin: 0px;">
            <div class="navbar-inner">
                <div class="container">
                    <ul>
                        {% for i, question in test.questions %}
                        <li><a href="#tab{{ i }}" data-toggle="tab">Question {{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
        <div class="tab-content">
            {% for i, question in test.questions %}
            <div class="tab-pane" id="tab{{ i }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="badge badge-default">{{ question.category }}</span>
                    </div>
                    <div class="panel-body">
                        <blockquote>
                            {{ question.question }}
                        </blockquote>
                        <form class="form">
                            <div class="form-group">
                                {% for answer in question.answers %}
                                    <div class="checkbox">
                                        <label>
                                            {% if question.multipleChoice %}
                                                <input type="checkbox" name="answers[]" value="{{ answer.value }}"> {{ answer.value }}
                                            {% else %}
                                                <input type="radio" name="answers[]" value="{{ answer.value }}"> {{ answer.value }}
                                            {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            <ul class="pager wizard">
                <li class="previous first" style="display:none;"><a href="#">First</a></li>
                <li class="previous"><a href="#">Previous</a></li>
                <li class="next last" style="display:none;"><a href="#">Last</a></li>
                <li class="next"><a href="#">Next</a></li>
                <li class="finish pull-right"><a href="javascript:;">Finish</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://vinceg.github.io/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
<script>
    $(function(){
        $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index+1;
            var $percent = ($current/$total) * 100;
            $('#rootwizard .progress-bar').css({width:$percent+'%'});
        }});
    })
</script>
{% endblock %}
